{% load static %}
<nav class="navbar navbar-expand-lg" style="background-color: #0A121E;">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <button class="navbar-toggler custom-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Переключить навигацию">
        <img src="{% static 'site_nasa/images/menu-icon.png' %}" alt="Меню" class="custom-burger-icon">
      </button>

      <a class="navbar-brand m-0" href="#">
        <img src="{% static 'site_nasa/images/logo.png' %}" alt="Логотип" class="logo">
      </a>
    </div>

    <button class="btn btn-login d-lg-none" style="background-color: #FF342B; color: #fff; border: none;">Войти</button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Преимущества</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Фотографии</a>
        </li>
      </ul>
      <button class="btn btn-login d-none d-lg-block" style="background-color: #FF342B; color: #fff; border: none;">Войти</button>
    </div>
  </div>
</nav>
